body {
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  background-color: #264452;
  border: 2px solid 264452;
  padding: 2vh;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
}
.logo,
.nav,
.log {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 2vw;
}
.log {
  margin-right: 2vw;
}
.nav h4 {
  margin: 0vw 2vw;
}
.logo img {
  width: 4em;
  height: 4em;
}

.log button {
  margin: 0vw 0.2vw;
}
.logo h2 {
  margin-left: 1vw;
  color: #aec2cb;
}

#txt {
  color: #1b8fc3;
  margin-left: 0px;
}
.nav h4 a {
  color: #aec2cb;
  text-decoration: none;
}
.nav h4 a:hover {
  color: #1b8fc3;
  opacity: 40%;
}
.nav h4 a:active {
  border-color: #1b8fc3;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.3em 1em;
  border: #aec2cb solid 0.15em;
  border-radius: 0.5em;
  color: #aec2cb;
  /* font-size: 1.5em; */
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  /* transition: border 300ms, color 300ms; */
  /* user-select: none; */
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #1b8fc3;
  opacity: 60%;
}

.button:active {
  border-color: #1b8fc3;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  width: 6em;
  aspect-ratio: 1;
  background: #70c3e9;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: #1b8fc3;
}
